__pycache__/
*.py[cod]
*.class
env/
venv/
.venv/
venv.bak/
.ipynb_checkpoints/
data/
**/data/
datasets/
raw/
**/raw/
*.tar.gz
*.tgz
*.zip
*.gz
*.npz
*.pth
*.pt
*.ckpt
*.h5
*.model
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
data_old
creditcard.csv
chest_xray
plots
other_details
